@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* header */
.bold{
    font-weight: bold;
}

.navbar{
    margin: 30px 30px;
}

.navbar .liste1 {
    display: flex;
    justify-content: space-around;

}

.liste1 ul li:hover{
    text-decoration: underline;
    color: orangered; 
}

.liste1 ul li{
    display: inline-block; 
    padding: 15px;
} 

.btn{
    background: orangered;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 10px 10px 10px 10px; 
}  

.navbar .menuBurger{
    display: none;
    position: absolute;
    top: 100px;
    left: 50px; 
}

/* **********RESPONSIVE********* */

@media screen and (max-width: 400px){
    
    .navbar .menuBurger {
        display: block;
        position: absolute; 
        top: 20px;
        left: 15px; 
        /* border: 2px solid orange;
        border-radius: 5px; */ 
    }

    .logo{
        display: block;
        position: absolute;
        top: 15px;
        left: 50px; 
    }

    /* title home services */
    .bold{      
        position: relative;  
        top: -35px;
        left: 40px;     
    }

    .liste1{
        position: absolute; 
        background: red; 
        width: 100%;
        height: 100vh; 
        align-items: center; 
        top: 0;
        left: 0; 
    } 
    
    .liste1 ul{
        display: flex;
        flex-direction: column;
        display: none; 
    } 

    /* logo localisation */
    .map{
        position: absolute;
        top: 20px;
        left: 350px; 
    }

    .menu_title{
        position: absolute; 
        display: block;
        top: 0px;
        right: 50px; 
    } 



}